:root {
  /* --primary-color: #285430;
  --secondary-color: #5F8D4E;
  --third-color: #C86B85;
  --primary-background: #E5D9B6;
  --secondary-background: #A4BE7B;
  --third-background: #FFDFDF;
  --pink: #E6A4B4; */
  --primary-color: #064232;
  --secondary-color: #568F87;
  --third-color: #C86B85;
  --primary-background: #000000;
  --secondary-background: #FFF5F2;
  --third-background: #FFDFDF;
  --pink: #E6A4B4;
}

body {
  background-color: var(--primary-background);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.hero {
  padding-top: 75px;
}

.hero-small-text {
  color: var(--secondary-background);
}

.gradient-background {
  background: linear-gradient(300deg, var(--secondary-background), var(--pink), var(--secondary-color));
  background-size: 180% 190%;
  animation: gradient-animation 18s ease infinite;
}

.gradient-background-1 {
  /* background: linear-gradient(300deg,
    var(--pink) 25%,
    var(--secondary-background) 80%,
    var(--secondary-color)
  );
  background-size: 180% 190%; */
  background-color: var(--secondary-color);
}

.my-nav-link{
  color: var(--primary-background);
    font-weight: bold;
}

.my-nav-link:hover {
  color: var(--primary-color);
  font-weight: bold;
}

.my-active {
  background-color: var(--secondary-background);
  color: var(--primary-color);
  font-weight: bold;
}

.my-active:hover {
  color: var(--primary-background);
  background-color: var(--third-color);
  font-weight: bold;
}

.hero-text {
  color: var(--third-color);
}

.name {
  color: var(--secondary-color);
}

.btn-primary:hover, .btn-primary:active{
  background-color: var(--third-color) !important;
  color: var(--primary-background);
  border-color: var(--third-color) !important;
}

.btn-primary{
  background-color: var(--secondary-color);
  color: var(--primary-background);
  border-color: var(--primary-color);
}

.my-profile-container {
  position: relative;
  height: 420px;
}

.profile-img {
  position: absolute;
  left: 15%;
}

.profile-background {
  position: absolute;
}

.profile-background-item1 {
  top: 10%;
  opacity: 75%;              
  height: 250px;
  width: 250px;
  box-shadow: 0 0 50px var(--third-color);
}

.profile-background-item2 {
  top: 25%;
  left: 35%;
  opacity: 50%;              
  height: 350px;
  width: 350px;
  box-shadow: 0 0 20px var(--primary-color);
}

.my-project-container {
  padding-top: 75px;
}

.border-bottom {
  color: var(--third-color);
  border-bottom-color: var(--primary-color) !important;
}

.project-card {
  list-style: none;
  padding: 0;
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-outline-secondary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-secondary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.project-name {
  color: var(--primary-color) !important;
}

.my-card {
  padding: 20px;
  /* background-color: var(--secondary-background); */
  border-color: var(--primary-background);
}

.my-about {
  background-color: var(--primary-background) !important;
  border: 10px dashed var(--third-color);
}

.about-title {
  color: var(--secondary-color) !important;
}

.about-text {
  color: var(--secondary-background) !important;
}

.footer-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.footer-background {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 35%;
  z-index: -1;
  background-color: var(--primary-color);
}

.contact-container {
  padding-top: 50px !important;
}

.contact-box {
  /* background-color: var(--third-background) !important; */
  background: linear-gradient(300deg, var(--third-background), var(--pink), var(--third-color));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.contact-box h2 {
  color: var(--primary-background) !important;
}

.contact-box p {
  font-size: 1rem;
  color: var(--primary-background);
}

.media-container {
  background-color: var(--secondary-background);
  font-size: 1rem;
  padding: 5px 20px 5px 5px !important;
  color: black;
  text-decoration: none;
}

.tech-skill-container {
  background-color: var(--third-color);
  font-size: 1rem;
  padding: 10px !important;
  color: var(--third-background);
  font-weight: 400;
}